//Variables

//Colors
$link_color: blue;
$link_visited_color: #f00303;
$link_hover_color: #f00303;
$body_color: #444;
$color1: #f00303;
$color2: #444;

//Typography
$primary_font_family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary_font_family: Georgia, "Times New Roman", Times, serif;
$font_size: 100%;
$line_height: 1.4;


@import "base/normalize";
@import "mixins/mixins";
@import "forms/forms";

/* 
Framework -------------------------------
----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------
*/

.block {
  @extend .clearfix;
  width: 92%;
  margin: 0 auto;
}

.container {
  width: 100%;
}

/* 
Initial -------------------------------
----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------
*/

body {
  font: #{$font_size}/#{$line_height} $primary_font_family;
}


/* 
Page Header -------------------------------
----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------
*/

#page-header-container {
  padding: .75em 0;

  background: $body_color;

    h1 {
      margin: 0;
      float: left;

      font-size: 1em;
      color: $color1;
      text-transform: uppercase;
    }
}


/* 
Login --------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------
*/

.user {

  #page-header  & {
    float: right;
  }

  a {
    color: #fff;
    font-size: .75em;
    font-weight: 700;
  }

}

/* 
Navbar --------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------
*/

.navbar {
  background: #eee;
  padding: .75em 0 0 0;
  
  li {
    margin: 0 .5em 0 0; 
    float: left; 
  }  

  a {
    float: left;
    padding: .5em .75em;

    background: #333;

    &.active,
    &.active:hover {
      background: #fff;  
    }

    &:hover {
      background: $body_color;
    }

  }


}

/* 
Media Queries -------------------------------
----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) {}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1200px) {}


@import "base/utilities";


@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
